* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mochiy Pop One", sans-serif;
}

body {
  background-color: #333;
  min-height: 100vh;
}
.contenedor {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
ul {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
ul li {
  position: relative;
  list-style: none;
}
ul li a {
  font-size: 3em;
  text-decoration: none;
  letter-spacing: 2px;
  line-height: 1em;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}
ul li a::before {
  content: attr(data-text);
  position: absolute;
  color: var(--clr);
  width: 0;
  overflow: hidden;
  transition: 1s;
  border-right: 8px solid var(--clr);
  -webkit-text-stroke: 1px var(--clr);
}
ul li a:hover::before {
  width: 100%;
  filter: drop-shadow(0 0 25px var(--clr));
}

/* .btn-primary{
    width: 500px;
    height: 200px;
}

.btn-primary:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}
.btn-primary span {
  position: absolute;
  display: block;
}
.btn-primary span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}
@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
.btn-primary span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
.btn-primary span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}
.btn-primary span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

/* Index.css */

.store-name {
  position: relative;
  display: inline-block;
}

.store-name::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #ffffff00, #ffffff80);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.store-name:hover::before {
  opacity: 1;
}

h2 {
  font-family: "Poppins", sans-serif;
  /* Otros estilos para el texto del nombre de la tienda */
}

.map {
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("https://www.google.com/maps/place/13+DE+ABRIL+FLORISTERIAS/data=!3m1!4b1!4m2!3m1!1s0xd720bef5500103d:0xd06fe4cfb51d7f71");
  padding-top: 56%;
  width: 100%;
}

/*     {# <div>
      <a
        href="https://www.google.com/maps/place/13+DE+ABRIL+FLORISTERIAS/data=!3m1!4b1!4m2!3m1!1s0xd720bef5500103d:0xd06fe4cfb51d7f71"
        target="_blank"
        itemprop="hasMap"
        data-tracking-element-type="7"
        ><div
          class="map"
          style="
            background-image: url('https://maps.googleapis.com/maps/api/staticmap?scale=1&amp;size=1600x900&amp;style=feature:poi.business|visibility:off&amp;style=feature:water|visibility:simplified&amp;style=feature:road|element:labels.icon|visibility:off&amp;style=feature:road.highway|element:labels|saturation:-90|lightness:25&amp;format=jpg&amp;language=es&amp;region=ES&amp;markers=color:0x48487f|37.1983980,-4.0488442&amp;zoom=16&amp;client=google-presto&amp;signature=x_vQGF56HoQSMOW_surWWGClMcw');
          "
          title="Mapa que muestra la ubicación de la empresa."
        ></div
      ></a>
    </div> #} */
