/* Format css in document */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f5f5f5;
  min-height: 100vh;
  font-family: "Robotto", sans-serif;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* CSS -> Navbar */

.header {
  width: 100%;
  background-color: #333;
}
.navbar-toggler {
  margin-right: 3rem;
}
.navbar-toggler {
  box-shadow: 0px 0px 5px #aaa;
}
.collapse {
  display: flex;
  justify-content: start;
  margin-left: 1rem;
}
.navbar-nav li {
  list-style: none;
}
.navbar-nav li a,
.a-home {
  font-size: 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
  position: relative;
}
.navbar-nav li a::before {
  content: attr(data-text);
  position: absolute;
  color: var(--clr);
  width: 0;
  overflow: hidden;
  transition: 1s;
  border-right: 8px solid var(--clr);
  -webkit-text-stroke: 1px var(--clr);
}
.a-home::before {
  content: attr(data-text);
  position: absolute;
  color: var(--clr);
  width: 0;
  overflow: hidden;
  transition: 1s;
  border-right: 8px solid var(--clr);
  -webkit-text-stroke: 1px var(--clr);
}
.navbar-nav li a:hover::before {
  width: 100%;
  filter: drop-shadow(0 0 25px var(--clr));
}
.a-home:hover::before {
  width: 100%;
  filter: drop-shadow(0 0 25px var(--clr));
}
.nav-link {
  margin: 10px;
  padding: 10px;
}
.nav-item {
  margin-left: 10px;
}
.active {
  /* background-color: #9d0f0f; */
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5) inset;
}

/* CSS Modales -> Cart y valoration */

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 100%;
  background: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px #333;
}

/* CSS Stars -> Reviews y Valoration */

.estrellas-mini {
  direction: rtl;
  unicode-bidi: bidi-override;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.estrellas-mini input[type="radio"] {
  display: none;
}
.estrellas-mini label {
  color: #aaa;
  cursor: pointer;
  margin: 0 2px;
}
.estrellas-mini label:hover,
.estrellas-mini label:hover ~ label,
.estrellas-mini input[type="radio"]:checked ~ label {
  color: #ffca08;
}
.input-group {
  margin-bottom: 10px;
}

/* CSS Reviews -> En Product Info  */

.reviews-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.reviews-list {
  list-style-type: none;
  padding: 0;
}

.review {
  background-color: #aaa;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

.current-user-review {
  text-align: right;
  background-color: #fecccb;
}

.review-content {
  font-size: 14px;
  margin-bottom: 5px;
}

.review-user {
  font-weight: bold;
  font-size: 12px;
  color: #333;
}

/* CSS -> Footer */
.footer {
  margin-top: auto;
  background-color: #333;
  color: #fff;
  padding: 30px 0;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

.footer hr {
  border-color: #fff;
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer p {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 10px;
}

.footer a:hover {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}

.footer .valoration {
  font-size: 20px;
  margin-top: 20px;
}

.footer .valoration .emoji {
  font-size: 24px;
  margin-right: 5px;
}

.footer a.facebook,
.footer a.instagram {
  font-size: 2rem;
}

.footer a.facebook:hover {
  color: #3b5998;
}

.footer a.instagram:hover {
  color: #c13584;
}

@media (max-width: 768px) {
  .footer .row {
    flex-direction: column;
    align-items: center;
  }

  .footer .col-md-4 {
    margin-bottom: 30px;
  }
}

/* Formateo input type file */
/*  */
.file-input-container {
  position: relative;
  display: inline-block;
}

.file-input-container input[type="file"] {
  display: none;
}

/* CSS -> Inputs */

.checkbox-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.checkbox-item {
  display: flex;
  align-items: center;
}
.check-box-group {
  display: flex;
  flex-direction: column;
}
.custom-checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.custom-checkbox .label {
  font-size: 1.2em;
  margin: 0 10px;
}
.custom-checkbox .checkmark {
  width: 15px;
  height: 15px;
  border: 2px solid #333;
  display: inline-block;
  border-radius: 3px;
  background: #222 url("../../public/images/white_check.png") center/1250%
    no-repeat;
  transition: background-size 0.2s ease;
}
.custom-checkbox input:checked + .checkmark {
  background-size: 60%;
  transition: background-size 0.25s cubic-bezier(0.7, 0, 0.18, 1.24);
}
.custom-checkbox input {
  display: none;
}

/* CSS -> Stripe */
.checkout-form {
  width: 100vh;
  margin: 0 auto;
}
.card-element-container {
  margin-bottom: 16px;
}

/* Formateao diseño del bootstrap */

.card {
  background: #f5f5f5;
  border: 1px solid #333;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card-img-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.card-body {
  padding: 20px;
}
.card-title {
  font-size: 20px;
  font-weight: bold;
}

.card-text {
  font-size: 16px;
  color: #333;
  margin-bottom: 0;
}

.card-footer {
  background-color: #333;
  padding: 10px 20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.btn-primary {
  color: #333;
  background-color: #fecccb;
  border-color: #fdb5b4;
}
.btn-secondary {
  color: #333;
  background-color: #ffca08;
  border-color: #ffb908;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #333;
  border-color: #222;
}
.btn:disabled {
  background-color: #fecccb;
  border-color: #fdb5b4;
  color: #333;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #c84f60;
  border-color: #c24556;
  color: white;
}

/* CSS -> Forms */
.form {
  padding: 15px;
  border: 2px solid #ccc;
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 0px 35px #aaa;
}
.form-edit {
  padding: 15px;
  border: 2px solid #ccc;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 0px 35px #aaa;
}

.form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.form textarea {
  height: 100px;
}

.form input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form input[type="submit"]:hover {
  background-color: #45a049;
}

/* CSS -> Register, Login */

/* .form-user {
  padding: 15px;
  border: 2px solid #fff;
  font-size: 1rem;
  color: #222;
  width: 90%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 50px #fff;
} */

.form-user {
  padding: 15px;
  border: 2px solid #ccc;
  width: 90%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 35px #aaa;
  backdrop-filter: blur(1px);
}

.form-user input[type="text"],
.form-user input[type="password"] {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  transition: border-color 0.3s ease;
}

.form-user input[type="text"]:focus,
.form-user input[type="password"]:focus {
  outline: none;
  border-color: #aaa;
}

.form-user button {
  background-color: transparent;
  color: #333;
  border: 1px solid #fff;
  padding: 10px 20px;
  cursor: pointer;
}

.form-user button:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
  border: 1px solid #fff;
}

.reset-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.bg-image {
  background-image: url("../../public/images/2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

/* Generales */

.button-like {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #c84f60;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.button-like:hover {
  background-color: #fecccb;
  color: #333;
}

/* Landing  */

.hero {
  background-image: linear-gradient(
      120deg,
      rgba(241, 147, 251, 0.699) 0%,
      rgba(85, 27, 35, 0.692) 100%
    ),
    url("../../public/images/2.jpg");
  width: 100%;
  height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}

.textos-hero {
  height: 500px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textos-hero h1 {
  font-size: 60px;
}

.textos-hero p {
  font-size: 25px;
  margin-bottom: 20px;
}

.textos-hero a {
  display: inline-block;
  text-decoration: none;
  padding: 12px 15px;
  background: #a18cd1;
  border-radius: 8px;
  color: #fff;
}

.svg-hero {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.contenedor,
.wave-contenedor {
  width: 90%;
  max-width: 1000px;
  overflow: hidden;
  margin: auto;
  padding: 0 0 80px 0;
}
.contenedor {
  padding: 80px 0;
}

.titulo {
  font-weight: 300;
  font-size: 35px;
  text-align: center;
  margin-bottom: 30px;
}

.titulo.left {
  text-align: left;
}

.titulo.right {
  text-align: right;
}

/* Section */

.website {
  display: flex;
  justify-content: space-between;
}

.website img {
  width: 48%;
}

.website .contenedor-textos-main {
  width: 40%;
}

.parrafo {
  text-align: justify;
  margin-bottom: 20px;
}

.cta {
  display: inline-block;
  text-decoration: none;
  background-image: linear-gradient(
    45deg,
    #7b9e7e 0%,
    #91d696 99%,
    #aab5ab 100%
  );
  padding: 12px 15px;
  border-radius: 8px;
  color: #fff;
}
.cta:hover {
  color: #fff;
  background-image: linear-gradient(
    45deg,
    #91d696 0%,
    #7b9e7e 99%,
    #aab5ab 100%
  );
}

/* Info */

.info {
  background: #7b9e7e;
  color: #fff;
}

/* Cards */
.large {
  font-size: 50px;
  margin-top: 1rem;
}
.content-cards {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card-landing {
  width: 30%;
  text-align: center;
  height: 300px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1);
  transition: transform 0.6s;
}

.card-landing:hover {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.03);
  cursor: pointer;
}

.card-landing i {
  margin: 30px 0 20px 0;
  color: #cc9199;
  font-size: 50px;
}

.card-landing p {
  font-weight: 300;
  font-size: 25px;
  margin-bottom: 10px;
}

/* galeria */

.galeria {
  background: #f2f2f2;
}

.galeria-cont {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: hidden;
}

.galeria-cont > img {
  width: 30%;
  object-fit: cover;
  margin-bottom: 20px;
  display: block;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  overflow: hidden;
}
/* Tabla */

.opening-hours-table {
  background-color: #f8f9fa;
}

.opening-hours-table th {
  background-color: #e9ecef;
}

.opening-hours-table td {
  background-color: #fff;
}

.opening-hours-table td,
.opening-hours-table th {
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .textos-hero h1 {
    text-align: center;
    font-size: 50px;
  }
  /* estilos generales */
  .titulo {
    font-size: 35px;
  }

  .titulo.left {
    text-align: center;
  }

  .info p {
    text-align: center;
  }

  /* section */
  .website {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .website img {
    width: 100%;
  }

  .website .contenedor-textos-main {
    width: 100%;
  }

  /* galeria */

  .galeria-cont > img {
    width: 48%;
  }
}

@media screen and (max-width: 400px) {
  .titulo,
  .textos-hero h1 {
    font-size: 30px;
  }

  .textos-hero p {
    font-size: 20px;
    text-align: center;
  }
  .website .contenedor-textos-main {
    margin-bottom: 30px;
  }

  .galeria-cont > img {
    width: 97%;
  }
}
